.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--mantle);
  padding: 32px;
  gap: 32px;
}

.contact > div:first-child {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
}

.contact > div:first-child > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact > div:first-child > div > p:first-child {
  font-size: 1.3rem;
  font-weight: 500;
}

.contact > div:first-child > div > p:not(:first-child):hover {
  opacity: 0.8;
  cursor: pointer;
}

.contact > div:last-child {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.contact > div:last-child > ul{
  display: flex;
  justify-content: space-around;
  gap: 12px;
  width: 100%;
  padding: 10px;
  background-color: var(--overlay);
  color: var(--base);
}

.contact > div:last-child > ul > li {
  cursor: pointer;
}

.contact > div:last-child > ul > li:hover {
  opacity: 0.5;
}

.brand-logo {
  cursor: pointer;
}

.brand-logo:hover {
  cursor: pointer;
  opacity: 0.8;
}