.navbar {
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar > ul {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.navbar > ul > li {
  cursor: pointer;
}

.navbar > ul > li:hover {
  opacity: 0.8;
  transition-duration: 200ms;
}